/*CSS document*/

body {
    background-color:rgb(255,247,250);
    color: rgb(82,118,83);
    line-height: 140%;
    font-family: fino-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}

div.container {
    max-width: 80em;
    margin: 0 auto;
    background-color: #fafafa;
}

section{
    max-width:40em;
    margin: 0 auto;
}
h1{
    max-width: 30%;
}

figure {
    margin: 0;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

img {
    width: 100%; 
}

ul{
    list-style-type: none;
    padding: 0; 
    font-family: fino-sans, sans-serif;
    font-weight: 400;
    font-style: normal; 
    text-transform: uppercase;
    font-size: 16pt;
    padding-left: 0.5em;

}


nav ul li{
    display: inline; 
    padding-right: 1em;
    text-align: center;
}

p{
    font-family: greycliff-cf, sans-serif; 
    font-variation-settings: "wght" 400;
    font-style: normal;  
    color: black;

}

a{
    text-decoration: none;
    color: rgb(236,96,1);
}

a:hover{
    color: rgb(236,96,1);
}



h3 {
    background-color:rgb(255,247,250);
    color: rgb(82,118,83);
    font-family: "fino-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
}

figcaption {
    font-family: "greycliff-cf", sans-serif;
    font-variation-settings: "wght" 400;
    font-style: normal;
    font-size: 10.5pt; 
    margin-bottom: 2em;
}



figure {
    margin: 0;
}

section.tertiary {
    border-top: 1px #222 solid;
}

@media only screen and (min-width:60em) {
	
    div.container{
        grid-column:1/2;
        display: grid; 
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }

    header {
        grid-column: 1/3;
    }

    aside {
        grid-column: 2/3;
        display: grid; 
    }

    main{
        grid-template-columns: repeat(3,1fr);
        grid-column: 1/2;
        display: grid;
        grid-gap: 0 1em;
    }


    section.main{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

    section.main a {
        flex: 1 0 10em; 
        display: flex;
        flex-direction: column;
    }

    section.main a figure {
        flex: 1 0 10em; 
    
    }

    section.main a h3 {
        flex: 0 0 auto; 
        margin: 0;
    }

    section.main a p{
        flex: 0 0 auto; 
    }

    section.main a figure img {
        height:95%;
        object-fit: cover;
    }
}


